name: wsu_laptops
description: WSU application for laptops applications.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  fpdart: ^1.1.0
  appwrite: ^11.0.0
  flutter_riverpod: ^2.4.0
  logger: ^2.0.2
  intl: ^0.18.1


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
